<html>
<head>
    <title>2Dmatpedia</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {

            var sPath = window.location.pathname;
            var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);

            if (sPage == "") {
                $("#li-home").addClass("active");
            }
            else {
                $("#li-" + sPage).addClass("active");
            }

        });
    </script>
    {%  block top_javascript %}
    {%  endblock %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='style.css') }}">

    {%  block css %}
    {%  endblock %}

</head>
<body>

<div id="header">
2D Materials Encyclopedia
</div>

<div id="navbar">
    <div id="navbar-inner">
        <div id="menu">
            <ul>
                <li id="li-home">
                    <a href="/">home</a>
                </li>
                <li id="li-guide">
                  <a href="/guide">calculations guide</a>
                </li>
                <li id="li-summary">
                  <a href="/summary">summary</a>
                </li>
                <li id="li-download">
		  <a href="{{ url_for('static', filename='db.json.gz') }}" download>download</a>
     	       </li>
                <li id="li-about">
                  <a href="/about">about</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="content">
{% block content %}
{% endblock %}
</div>

<div id="footer">
Copyright 2018, <a href="http://graphene.nus.edu.sg" target="_blank">Centre for Advanced 2D Materials</a>, <a href="http://nus.edu.sg" target="_blank">National University of Singapore</a>. Web interface powered by <a href="http://guide.materialsvirtuallab.org/flamyngo/" target="_blank">flamyngo</a>.
</div> 
</body>
</html>
